<footer>
    
     <div>
    <span class="gpt-subtitle">   <a
      b-slate-link
      href="https://key.ftool.top/" target="_black"
    >
       pro站1-更快响应
    </a></span>
    </div>
    <div>
    <span class="gpt-subtitle">   <a
      b-slate-link
      href="https://chatgpt.ftool.top/" target="_black"
    >
       pro站2-模板更丰富
    </a></span>
    </div>

   <div>
     <span class="gpt-title">
           <a
        b-slate-link
        href="https://jq.qq.com/?_wv=1027&k=4nGLhWaI" target="_black"
      >
       免费进群抽奖:  347852044
    </a>
    </span>
    
    </div>
  
     <div>
     <span class="gpt-title">  
         扫码赞赏 ↓ ↓  ↓ ↓ (赞赏超过3元后续可以优先体验ChatGpt4.0)
    </span>
    
    </div>
  <div>
    
   <img src='https://i.postimg.cc/66MDYdnv/1111.png' border='0' alt='AED8-FEC0-BDABFEEB98290-F41-DC9-BC495'/>
  </div>
</footer>
