<footer>
 
<div>
  <span class="gpt-title" style="font-size: 24px;">
    <a b-slate-link href="https://chat.wzunjh.top" target="_black">
      更多高级功能</a>
  </span>
</div>

  
    <div style="height: 15px;"></div>
  
  <div>
    <span class="gpt-subtitle">
        <a b-slate-link href="https://qm.qq.com/cgi-bin/qm/qr?k=9tt-KIqYfpAwfJq1bLn7b_XIz98II1es&jump_from=webapi&authKey=pVoon8q3gyIo168oiZTT1+hKvkgeeSeHCjGAEMLH34GwXiI3wcgQQfYcs9+Mxct1"
        target="_black">
      进群交流：849914283
      </a>
    </span>
  </div>

  <div>
    <span class="gpt-subtitle">打赏支持：</span>
  </div>
  
  
  <div>
 <img src="https://tuchuang111025.oss-cn-shenzhen.aliyuncs.com/6101685980394_.pic.jpg" width="130" height="130" border="0" alt="AED8-FEC0-BDABFEEB98290-F41-DC9-BC495">
  </div>
    
</footer>
