<footer>
  <div>
    <span class="gpt-subtitle">
      <a b-slate-link href="https://www.ggri857.asia" target="_black">
        PRO站:多模型，无限制
      </a>
    </span>
  </div>
  <div>
    <span class="gpt-subtitle">
      <a b-slate-link href="https://www.ggri857.asia" target="_black">
      进群获取密码↓
      </a>
    </span>
  </div>
  <div>
    <span class="gpt-title">
      <a b-slate-link href="https://qm.qq.com/cgi-bin/qm/qr?k=9tt-KIqYfpAwfJq1bLn7b_XIz98II1es&jump_from=webapi&authKey=pVoon8q3gyIo168oiZTT1+hKvkgeeSeHCjGAEMLH34GwXiI3wcgQQfYcs9+Mxct1"
        target="_black">
        849914283
      </a>
    </span>
  </div>
  <div>
    <span class="gpt-title">打赏支持↓</span>
  </div>
  <div>
    <img src="https://example.com/image.jpg" width="500" height="300">

 <img src="https://tuchuang111025.oss-cn-shenzhen.aliyuncs.com/1ffdedc5bcfaf8d119e64091c002a184.png" width="200" height="200" border="0" alt="AED8-FEC0-BDABFEEB98290-F41-DC9-BC495">

  </div>
</footer>
