---
import Logo from './Logo.astro' 
import Themetoggle from './Themetoggle.astro'
---
<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">
        GPT-4.0 免费站
    </span>
  </div>
  <div>
    <span class="gpt-subtitle"> 
       无需登录，直接使用
    </span>
  </div>
</header>
