---
import Logo from './Logo.astro' 
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">
           <a
        b-slate-link
        href="https://jq.qq.com/?_wv=1027&k=4nGLhWaI" target="_black"
      >
        ChatGPT公益站
    </a>
    </span>

  </div>

   <div>
    <span class="gpt-subtitle"> 
               <a
        b-slate-link
        href="https://jq.qq.com/?_wv=1027&k=4nGLhWaI" target="_black"
      >
       无需登录，快速响应。    </a>
    </span>
  </div>
  
    <div class="fi mt-2">
    <span class="gpt-title">
              <a
        b-slate-link
        href="https://jq.qq.com/?_wv=1027&k=4nGLhWaI" target="_black"
      >
      完全为爱发电，请勿滥用!!! </a>
    </span>

  </div>

</header>
